.app {
  background-color: hsl(233, 47%, 7%);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCardHolder {
  background-color: hsl(244, 38%, 16%);
  height: 55%;
  width: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

.cardParts {
  display: flex;
}
.title {
  color: hsl(0, 0%, 100%);
  padding: 8% 13% 0% 10%;
  margin-top: 0%;
  text-align: left;
  font-size: 35px;
}
.para {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  padding: 0px 150px 0px 65px;
  text-align: left;
}
.img {
  height: 100%;
  width: 130%;
  float: left;
}

.statscard {
  display: flex;
  padding: 0% 0% 0% 12%;
}

.statComponent {
  padding-right: 10%;
}
